<%= simple_form_for(@menu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :sponsor %>
    <%= f.input :event %>
    <%= f.input :venue %>
    <%= f.input :place %>
    <%= f.input :physical_description %>
    <%= f.input :occasion %>
    <%= f.input :notes %>
    <%= f.input :call_number %>
    <%= f.input :keywords %>
    <%= f.input :language %>
    <%= f.input :date %>
    <%= f.input :location %>
    <%= f.input :location_type %>
    <%= f.input :currency %>
    <%= f.input :currency_symbol %>
    <%= f.input :status %>
    <%= f.input :page_count %>
    <%= f.input :dish_count %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
