<h1>Editing Menu</h1>

<%= render 'form', menu: @menu %>

<%= link_to 'Show', @menu %> |
<%= link_to 'Back', menus_path %> | 
<%= link_to 'Destroy', @menu, method: :delete, data: { confirm: 'Are you sure?' } %>
