<div class="float-right">
  <%= link_to 'New Menu', new_menu_path, class: "btn btn-success" %>
</div>

<h1>Menus</h1>

<div class="card card-block container">

  <%= search_form_for @q do |f| %>

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">

      <%= f.label :place_eq %>
      <%= f.search_field :place_eq, class: 'form-control input-sm' %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">

      <%= f.label :event_eq %>
      <%= f.search_field :event_eq, class: 'form-control input-sm' %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.label :venue_eq %>
      <%= f.search_field :venue_eq, class: 'form-control input-sm' %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.label :start_date %>
      <%= f.search_field :date_gteq, class: 'form-control input-sm', 'datepicker' => true, placeholder: "YYYY-MM-DD" %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.label :end_date %>
      <%= f.search_field :date_lteq, class: 'form-control input-sm', 'datepicker' => true, placeholder: "YYYY-MM-DD" %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 action-buttons">

      <%= f.submit class: "btn btn-info btn-sm" %>
      <%= link_to "Reset", menus_path, class: "btn btn-sm btn-warning" %>
      <%= link_to "Download JSON", menus_path(format: :json, 'q': menu_search_params),
       class: "btn btn-sm btn-primary" %>
       <br>
       <%= f.label :export_all %>
       <%= check_box_tag 'q[export_all]' %>
    </div>
    <% end %>

  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th><%= sort_link(@q, :event) %></th>
        <th><%= sort_link(@q, :venue) %></th>
        <th><%= sort_link(@q, :place) %></th>
        <th><%= sort_link(@q, :date) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% count = 1 %>
      <% @menus.each do |menu| %>
      <tr>
        <td><%= count + params[:page].to_i * 100 %></td>
        <td><%= link_to menu.event || 'NIL', menus_path('q[event_eq]': menu.event) %></td>
        <td><%= link_to menu.venue || 'NIL', menus_path('q[venue_eq]': menu.venue) %></td>
        <td><%= link_to menu.place || 'NIL', menus_path('q[place_eq]': menu.place) %></td>
        <td><%= menu.date %></td>
        <td><%= link_to 'Menu Details', menu %></td>
      </tr>
      <% count += 1 %>
      <% end %>
    </tbody>
  </table>

  <br>
  <div class='text-center'>
    <%= paginate @menus %>
  </div>


