<% if @menu_pages.any? %>
  <h1>Menu pages for this Menu</h1>
  <% @menu_pages.each do |menu_page| %>
    <%= render menu_page %>
    <hr>
  <% end %>
<% end %>

<h5>Menu Details</h5>

  <strong>Name:</strong>
  <%= @menu.name %>, 

  <strong>Sponsor:</strong>
  <%= @menu.sponsor %>, 

  <strong>Event:</strong>
  <%= @menu.event %>, 

  <strong>Venue:</strong>
  <%= @menu.venue %>, 

  <strong>Place:</strong>
  <%= @menu.place %>, 

  <strong>Physical description:</strong>
  <%= @menu.physical_description %>, 

  <strong>Occasion:</strong>
  <%= @menu.occasion %>, 

  <strong>Notes:</strong>
  <%= @menu.notes %>, 

  <strong>Call number:</strong>
  <%= @menu.call_number %>, 

  <strong>Keywords:</strong>
  <%= @menu.keywords %>, 

  <strong>Language:</strong>
  <%= @menu.language %>, 

  <strong>Date:</strong>
  <%= @menu.date %>, 

  <strong>Location:</strong>
  <%= @menu.location %>, 

  <strong>Location type:</strong>
  <%= @menu.location_type %>, 

  <strong>Currency:</strong>
  <%= @menu.currency %>, 


  <strong>Currency symbol:</strong>
  <%= @menu.currency_symbol %>, 


  <strong>Status:</strong>
  <%= @menu.status %>, 


  <strong>Page count:</strong>
  <%= @menu.page_count %>, 


  <strong>Dish count:</strong>
  <%= @menu.dish_count %>

