<%= simple_form_for(@menu_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :menu_page %>
    <%= f.input :price %>
    <%= f.input :high_price %>
    <%= f.association :dish %>
    <%= f.input :xpos %>
    <%= f.input :ypos %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,  class: "btn btn-primary" %>
  </div>
<% end %>
