<div class="card card-block">
  <div class="card-header bg-success text-white">
    <%= menu_item.dish.name %>
    <small> (Dish id: <%= link_to menu_item.dish.id, menu_item.dish  %>)</small>
  </div>
  <div class="card-body">Description: <%= menu_item.dish.description || 'NA' %></div> 
  <div class="card-footer bg-dark text-white">
    Price: <%= menu_item.price || 'NA' %>
  </div>
</div>