<h1>Editing Menu Item</h1>

<%= render 'form', menu_item: @menu_item %>

<%= link_to 'Show', @menu_item %> |
<%= link_to 'Back', menu_items_path %> | 
<%= link_to 'Destroy', @menu_item, method: :delete, data: { confirm: 'Are you sure?' } %>
