<div class="float-right">
  <%= link_to 'New Menu Item', new_menu_item_path, class: "btn btn-success" %>
</div>

<h1>Menu Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Menu page</th>
      <th>Dish</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead> 
  <% count = 1 %>
  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= count + params[:page].to_i * 100 %></td>
        <td><%= menu_item.id %></td>
        <td><%= link_to "Menu", menu_item.menu_page %></td>
        <td><%= link_to "Dish", menu_item.dish %></td>
        <td><%= menu_item.price %></td>
        <td><%= link_to 'Show', menu_item %></td>
      </tr>
      <% count += 1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @menu_items %>

