<%= render @menu_item %>

<hr>

<h4>Details</h4>

<strong>Menu page:</strong>
<%= link_to @menu_item.menu_page.id, @menu_item.menu_page %>, 

<strong>Price:</strong>
<%= @menu_item.price %>, 

<strong>High price:</strong>
<%= @menu_item.high_price %>, 

<strong>Dish:</strong>
<%= link_to @menu_item.dish.id, @menu_item.dish %>, 

<strong>Xpos:</strong>
<%= @menu_item.xpos %>, 

<strong>Ypos:</strong>
<%= @menu_item.ypos %>, 

<hr>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %>