<h1><%= params[:type].titleize.pluralize %></h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th><%= params[:type].titleize %></th>
      <th>Count</th></tr>
    </tr>
  </thead>
  <% count = 0 %>
  <tbody>
    <% @objs.each do |k,v| %>
      <tr>
        <td><%= (count+=1) +  (params[:page]||0)*100 %></td>
        <td><%= link_to k ? k : "NIL" , menus_path("q[#{params[:type]}_eq]": k) %></td>
        <td><%= v %></td>
      </tr>
    <% end %>
  </tbody>
</table>
