<%= simple_form_for(dish, local: true) do |form| %>
<% if dish.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

  <ul>
    <% dish.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form.input :name %>
<%= form.input :description %>
<%= form.input :first_appeared %>
<%= form.input :last_appeared %>
<%= form.input :lowest_price %>
<%= form.input :highest_price %>


<%= form.submit class: "btn btn-primary" %>
<% end %>
