<h1>Editing Dish</h1>

<%= render 'form', dish: @dish %>

<%= link_to 'Show', @dish %> |
<%= link_to 'Back', dishes_path %> |
<%= link_to 'Destroy', @dish , method: :delete, data: { confirm: 'Are you sure?' } %>
