<div class="float-right">
  <%= link_to 'New Dish', new_dish_path, class: 'btn btn-success' %>
</div>

<h1>Dishes</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>First appeared</th>
      <th>Last appeared</th>
      <th>Lowest price</th>
      <th>Highest price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% count = 1 %>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= count + params[:page].to_i * 100 %></td>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td><%= dish.first_appeared %></td>
        <td><%= dish.last_appeared %></td>
        <td><%= dish.lowest_price %></td>
        <td><%= dish.highest_price %></td>
        <td><%= link_to 'Show', dish %></td>
      </tr>
      <% count += 1 %>
    <% end %>
  </tbody>
</table>

<div class='text-center'>
  <%= paginate @dishes%>
</div>

<br>


