<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>First appeared:</strong>
  <%= @dish.first_appeared %>
</p>

<p>
  <strong>Last appeared:</strong>
  <%= @dish.last_appeared %>
</p>

<p>
  <strong>Lowest price:</strong>
  <%= @dish.lowest_price %>
</p>

<p>
  <strong>Highest price:</strong>
  <%= @dish.highest_price %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %>