<%= simple_form_for(@menu_page) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :menu %>
    <%= f.input :page_number %>
    <%= f.input :image_id %>
    <%= f.input :full_width %>
    <%= f.input :full_height %>
    <%= f.input :uuid %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,  class: "btn btn-primary" %>
  </div>
<% end %>
