<div class="card card-block">
  <div class="card-header">Page # <%= menu_page.page_number %></div>
  <div class="card-body">
    <% if menu_page.menu_items.any? %>
      <div class="row">
        <% menu_page.menu_items.each do |menu_item| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render menu_item %>
            <hr>
          </div>
        <% end %>
      </div>
    <% end %>
  </div> 
  <div class="card-footer"><%= link_to 'View Page', menu_page %></div>
</div>