<h1>Editing Menu Page</h1>

<%= render 'form', menu_page: @menu_page %>

<%= link_to 'Show', @menu_page %> |
<%= link_to 'Back', menu_pages_path %> | 
<%= link_to 'Destroy', @menu_page, method: :delete,
                 data: { confirm: 'Are you sure?' } %>
