<div class="float-right">
  <%= link_to 'New Menu Page', new_menu_page_path, class: "btn btn-success" %>
</div>

<h1>Menu Pages</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Menu</th>
      <th></th>

    </tr>
  </thead>

  <% count = 1 %>

  <tbody>
    <% @menu_pages.each do |menu_page| %>
      <tr>
        <td><%= count + params[:page].to_i * 100 %></td>
        <td><%= menu_page.id %></td>
        <td><%=  link_to menu_page.menu.id, menu_page.menu %></td>
        <td><%= link_to 'Show', menu_page %></td>
      </tr>
      <% count += 1 %>
    <% end %>
  </tbody>
</table>

<%= paginate @menu_pages %>


