<%= render  @menu_page  %>

<hr>
<h4>Details</h4>

<strong>ID</strong>: <%= @menu_page.id %>,
<strong>Menu</strong>: <%= link_to 'Menu', @menu_page.menu %>,
<strong>Page Number</strong>: <%= @menu_page.page_number %>,
<strong>Image ID</strong>: <%= @menu_page.image_id %>,
<strong>Full h</strong>: <%= @menu_page.full_height %>,
<strong>Full W</strong>:<%= @menu_page.full_width %>,
<strong>UUID</strong>: <%= @menu_page.uuid %>

<hr>

<%= link_to 'Edit', edit_menu_page_path(@menu_page) %>
