
<div class="card card-block">
  <h3>Import <%= object.class.name.pluralize.titleize %> </h3>
  <%= form_with url: "/#{object.class.name.underscore.pluralize}/import", multipart: true do |f| %>
    <div class="form-group">
      <%= f.label "Select CSV file" %><br>
      <%= f.file_field :csv_file, label: "Select CSV file" %>
    </div>
    <div class="form control">
      <%= f.submit "Import CSV", class: "btn btn-success" %>
    </div>
  <% end %>
</div>