<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= message.html_safe %>
</div>
<% end %>