<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Data App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <%= link_to 'Menus', menus_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to "Events", page_path(type: 'event'), class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to "Places", page_path(type: 'place'), class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to "Venues", page_path(type: 'venue'), class: 'nav-link' %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Other Items
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <%= link_to 'Menu Pages', menu_pages_path, class: "dropdown-item" %>
          <%= link_to 'Menu Items', menu_items_path, class: "dropdown-item" %>
          <%= link_to 'Dishes', dishes_path, class: "dropdown-item" %>
        </div>
      </li>
      
    </ul>
    
  </div>
</nav>